<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add to stories</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/routes/contribute.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>

  <body>
   <h1> Add to Stories: </h1>
   <div>
     <div>
       <!-- Shows draft stories -->
   <% for(let draft in storyDrafts) { %>
        <%= storyDrafts[draft].content %>
        <div>______</div>
      </div>
        <% for(let addition in proposedAdditions) { %>
          <% if (proposedAdditions[addition].story_id === storyDrafts[draft].id) { %>
            <div>
            <!-- Shows associated proposed additions....needs to be nested within the storyDrafts loop -->
            <%= proposedAdditions[addition].additional_text  %>
            <%= proposedAdditions[addition].likes %>
            <!-- Upvote button....needs to share proposedAdditions[addition].id...it links the upvote to the proper snippet -->
            <form action="" method="post">
            <button name="upvote" type="submit" value="<%= proposedAdditions[addition].id %>">Upvote</button>
            </form>
          </div>

          <% } %>
      <% } %>
      <div>____________________</div>
       <!-- still need to decide what this does...can maybe just be an href link to a submit page? -->
      Think you can write something better?
        <button name="add_here" type="submit">Add here</button>
      <div>____________________</div>
      <% } %>

    </div>
  </body>
</html>
