<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Story Busters Login</title>

<!--App CSS-->
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> <!--normalize-->
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> <!--border-box-->
<link rel="stylesheet" href="/styles/layout.css" type="text/css" /> <!--layout-->
<link rel="stylesheet" href="/styles/main.css" type="text/css" /> <!--main-->
<link rel="stylesheet" href="/styles/nav.css" type="text/css"/> <!--nav-->

    <!--External JS-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


  <body>
    <%- include('partials/_header') %>

    <h1>Login to join the rest of us!</h1>
    <form class="form-inline" action="/login" method="POST">
      <div class="form-group mb-2">
        <label for="user-email">Enter your email:</label>
        <input class="form-control" type="user.email" name="users.email" placeholder="users.email"style="width: 300px; margin: 1em">
        <label for="Password">Enter your password here:</label>
        <input class="form-control" type="users.password" name="users.password" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </body>
</html>
