$light-background: #918d88;
$light-text: rgb(2, 35, 69);
$dark-background: #4c5361;
$dark-text: #f1f5f1;

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgb(167, 132, 184) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}
nav
{
  display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
}

.page-title {
font-family: "Squada One";
}


@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    background-color: $light-background;
    color: $light-text;
  } @else {
    background-color: $dark-background;
    color: $dark-text;
  }
}
