$light-background: #918d88;
$light-text: rgb(2, 35, 69);
$dark-background: #4c5361;
$dark-text: #f1f5f1;


body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: rgb(169, 94, 192);
  background: linear-gradient(
    227deg,
    rgb(223, 197, 236) 0%,
    rgb(226, 202, 228) 20%,
    rgb(201, 205, 230) 34%,
    rgb(197, 218, 213) 59%,
    rgb(163, 161, 189) 74%,
    rgb(155, 125, 165) 100%
  );

}
nav
{
  display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
}

.page-title {
font-family: "Squada One";
}


@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    background-color: $light-background;
    color: $light-text;
  } @else {
    background-color: $dark-background;
    color: $dark-text;
  }
}



#header {
  position: relative;
  height: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header:before {
  content: '';
  background: url('https://media3.giphy.com/media/KcnbWfsuFr7JpgowGT/giphy.gif');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(2px);
}

