nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	height: 120px;
	width: 100vw;
	position: fixed;
	top: 0;
	background-color: #9bade5;
	color: #ffffff;
	z-index: 1;
}

#storybusterslogo {
	margin: 1.5em;
	font-size: 2em;
	font-family: "Abril Fatface", sans-serif;
}

