$main-color: #6dcff6;
$darker-color: darken($main-color, 20%);
$lighter-color: lighten($main-color, 20%);

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	height: 120px;
	width: 100vw;
	position: fixed;
	top: 0;
	color: #ffffff;
	z-index: 1;
}

//header links
.navbarSupportedContent {
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-family:"Squada One";
}

#storybusterslogo {
  display:flex;
  align-items: center;
	margin: 1.5em;
	font-size: 3.5em;
  color:black;
	    text-align: center;
      height: 20vh;
      line-height: 90vh;
	    color: #6dcff6;
	   	font-family: 'Abril Fatface', sans-serif;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #0d3657,
                  10px 10px 0px #7472c0,
                  15px 15px 0px #c977a7,
                  20px 20px 0px #b589d3,
                  25px 25px 0px #ddade9,
                  30px 30px 0px #d46b75

}
#header {
.nav-link {
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-family:"Squada One";
  font-size: 1.25em;
}
.nav-link {
  color: $main-color;
}
.nav-link:hover {
  background: $lighter-color;
}
.nav-link:visited {
  background: $darker-color;
}
}


